@import "tailwindcss";

body {
  @apply bg-gray-100 text-gray-800;
}

.btn-primary {
  @apply px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-xl shadow transition;
}

.btn-secondary {
  @apply px-4 py-2 bg-white border rounded-xl shadow-sm hover:bg-gray-50 transition;
}

.card {
  @apply bg-white rounded-2xl shadow-md p-6;
}

.input {
  @apply w-full border px-4 py-2 rounded-xl focus:ring-2 focus:ring-indigo-300 outline-none;
}

.select {
  @apply w-full border px-3 py-2 rounded-xl bg-white;
}



